<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Add New Product</title>
</head>

<body layout:fragment="content" class="margin-tp">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>

        </div>
    </div>

    <div class="p-2 add-staff createForm" >
        <h4>Add New Product</h4>
        <form method="post" th:action="${'/products/add'}" th:object="${user}">
            <input type="hidden" name="id" th:field="${id}">
            <div class="row col-12">
                <div class="form-group col-4">
                    <label>Product Name</label>
                    <input type="text" class="form-control mw-100" name="name" required>
                </div>

                <div class="form-group col-4" >
                    <label>Product Category</label>
                    <select class="form-control" name="categoryName">
                        <option value="">--Select--</option>
                        <option th:each="c : ${categories}" th:value="${c.getName()}" th:text="${c.getName()}"></option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label>Product Quantity</label>
                    <input type="number" class="form-control mw-100" name="quantity" required>
                </div>
            </div>

            <div class="form-group col-12">
                <label>Product Description</label>
                <input type="text" class="form-control mw-100" name="description">
            </div>

            <div class="row col-12">
                <div class="form-group col-4" >
                    <label>Warehouse Shipping To:</label>
                    <select class="form-control" name="warehouseCode">
                        <option value="">--Select--</option>
                        <option th:each="w : ${warehouses}" th:value="${w.getCode()}" th:text="${w.getCode()}"></option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label>Shipping from where?</label>
                    <input type="text" class="form-control" name="shippingLocation">
                </div>

                <div class="form-group col-4">
                    <label>Tracking No.:</label>
                    <input type="text" class="form-control" name="trackingNo">
                </div>
            </div>

            <div class="row col-12">
                <div class="form-group col-6">
                    <label>Shipping Date:</label>
                    <input type="datetime-local" class="form-control mw-100" name="shippingDate">
                </div>

                <div class="form-group col-6">
                    <label>EDD</label>
                    <input type="datetime-local" class="form-control mw-100" name="expectedDeliveryDate">
                </div>
            </div>

            <div>
                <button class="btn-outline-success" name="button">Add Product</button>
            </div>
        </form>
    </div>

</main>
</body>
</html>