<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <title>Product Details</title>
</head>

<body layout:fragment="content">

<div class="col-md-8 text-left userProfile h3 font-weight-normal mb-5">
    <h4 class="h4">Product Details</h4>
    <table class="table table-hover table-striped">
        <tr>
            <td>ID</td>
            <td th:text="${product.getId()}"></td>
        </tr>
        <tr>
            <td>PRODUCT NAME</td>
            <td th:text="${product.getName()}"></td>
        </tr>
        <tr>
            <td>CATEGORY</td>
            <td th:text="${product.getCategory().getName()}"></td>
        </tr>
        <tr>
            <td>SENDER'S NAME</td>
            <td th:text="${product.getUser().getFirstName()}+' '+${product.getUser().getLastName()}"> </td>
        </tr>
        <tr>
            <td>SHIPMENT STATUS</td>
            <td th:text="${product.getShipment().getStatus()}"></td>
            <td>
                <a th:href="@{/shipments/details/{id}(id=${product.getShipment().getId()})}">
                    <button class="btn btn-sm btn-info" name="button">more</button>
                </a>
            </td>
        </tr>
        <tr>
            <td>QUANTITY</td>
            <td th:text="${product.getQuantity()}"></td>
        </tr>
        <tr>
            <td>DESCRIPTION</td>
            <td th:text="${product.getDescription()}"></td>
        </tr>
    </table>
</div>
</body>
</html>