<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <title>All Products</title>
</head>

<body layout:fragment="content">

    <h2>List of Products</h2>
    <table class="table table-striped table-sm bg-dark text-white">
        <caption class="table-head">LIST OF PRODUCTS</caption>
        <tr>
            <th>ID</th>
            <th>SELLER NAME</th>
            <th>PRODUCT NAME</th>
            <th>CATEGORY</th>
            <th>QUANTITY</th>
            <th>SHIPMENT STATUS</th>
            <th>DETAILS</th>
        </tr>
        <tr th:each="c : *{products}">
            <td th:text="${c.getId()}"></td>
            <td th:text="${c.getUser().getFirstName()}+' '+${c.getUser().getLastName()}"></td>
            <td th:text="${c.getName()}"></td>
            <td th:text="${c.getCategory().getName()}"></td>
            <td th:text="${c.getQuantity()}"></td>
            <td th:text="${c.getShipment().getStatus()}"></td>
            <td><a th:href="@{/products/details/{id}(id=${c.getId()})}">
                <button class="btn btn-info" name="button">Details</button></a></td>
        </tr>
    </table>
</body>
</html>