<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Assign Role to Staff</title>
</head>

<body layout:fragment="content" class="margin-tp">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>
    <div class="p-2 createForm add-role">
        <form method="post" th:object="${staff}" th:action="${'/staffs/assignNewRole'}">
            <input type="hidden" name="id" th:field="*{id}" />
            <div class="form-group">
                <label>Staff Name</label>
                <input class="form-control" th:field="*{lastName}" name="name" readonly>
            </div>

            <div class="form-group" >
                <label>Role</label>
                <select class="form-control" id="name" name="name">
                    <option value="">--Select Role--</option>
                    <option th:each="r : ${roles}" th:value="${r.getName()}" th:text="${r.getName()}"></option>
                </select>
            </div>
            <div>
                <input type="submit" name="addRole" id="addRole" value="Assign Role"/>
            </div>
        </form>
    </div>
</main>
</body>
</html>