<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <title>All Staff</title>
</head>

<body layout:fragment="content">
    <h2>List of All Staff</h2>
    <table class="table table-striped table-sm bg-dark text-white">
        <caption class="table-head">LIST OF All STAFF</caption>
        <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>PHONE NO</th>
            <th>COUNTRY</th>
            <th>JOB TITLE</th>
            <th>Assign Role</th>
            <th>DETAILS</th>
<!--                    <th>EDIT</th>-->
        </tr>
        <tr th:each="s : *{staffs}">
            <td th:text="${s.getId()}"></td>
            <td th:text="${s.getFirstName()}"></td>
            <td th:text="${s.getLastName()}"></td>
            <td th:text="${s.getUsername()}"></td>
            <td th:text="${s.getPhoneNo()}"></td>
            <td th:text="${s.getCountry()}"></td>
            <td th:text="${s.getJobTitle()}"></td>
            <td><a th:href="@{/staffs/assignRole/{id}(id=${s.getId()})}"><button class="btn btn-outline-success" name="button">Assign Role</button></a></td>
            <td><a th:href="@{/users/u_details/{id}(id=${s.getId()})}"><button class="btn btn-warning" name="button">Full Details</button></a></td>
<!--                    <td><a th:href="@{/staffs/edit/{id}(id=${s.getId()})}"><button class="btn-warning" name="button">Edit</button></a></td>-->
        </tr>
    </table>

    <a th:href="@{/staffs/create}">Add New USer</a>

</body>
</html>