<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>User Page</title>
</head>

<body layout:fragment="content" class="margin-tp">
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/admins/dashboard/{username}(username=${#request.remoteUser})}">
                            <i class="fa fa-user"></i>My Dashboard
                        </a>
                    </li>
                    <div sec:authorize="hasRole('STAFF')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sellers/list}">
                                <i class="fa fa-clipboard-list"></i>All Sellers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/staffs/list}">
                                <i class="fa fa-clipboard-list"></i>All Staff
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/staffs/create}">
                                <i class="fa fa-plus-circle"></i>Add New Staff
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/roles/list}">
                                <i class="fa fa-clipboard-list"></i>All Roles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categories/list}">
                                <i class="fa fa-clipboard-list"></i>All Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products/list}">
                                <i class="fa fa-clipboard-list"></i>All Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/warehouses/list}">
                                <i class="fa fa-clipboard-list"></i>All Warehouses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shipments/list}">
                                <i class="fa fa-ship"></i>All Shipments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/profile/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-edit"></i>Edit My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/changePass/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-key"></i>Change Password
                            </a>
                        </li>
                    </div>

                    <div sec:authorize="hasRole('SELLER')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products/myList/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-clipboard-list"></i>All My Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products/create/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-plus-circle"></i>Add New Product
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/profile/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-edit"></i>Edit My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/changePass/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-key"></i>Change Password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/myPaymentStatus/details/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-question-circle"></i>My Status
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div><h3>Welcome, <span sec:authentication="name">Username</span></h3></div>
                    <div><span sec:authentication="principal.authorities">[SELLER, STAFF]</span></div>
<!--                    <div><span sec:authentication="principal.authorities">Roles</span></div>-->
                </div>
            </div>
            <div class="col-md-8 text-left userProfile h3 font-weight-normal">
                <form th:action="" method="" th:object="${user}">
                    <div class="row col-12">
                        <div class="form-group col-6">
                            <label>First Name:</label>
                            <input type="text" id="firstName" th:field="*{firstName}" name="firstName" class="form-control" required>
                        </div>
                        <div class="form-group col-6">
                            <label>Last Name:</label>
                            <input type="text" id="lastName" th:field="*{lastName}" name="lastName" class="form-control" required>
                        </div>
                    </div>

                    <div class="row col-12">
                        <div class="form-group col-4">
                            <label>Phone No:</label>
                            <input type="text" id="phoneNo" th:field="*{phoneNo}" name="phoneNo" class="form-control" required>
                        </div>
                        <div class="form-group col-8">
                            <label>Address:</label>
                            <input type="text" id="address" th:field="*{address}" name="address" class="form-control" required>
                        </div>
                    </div>

                    <div class="row col-12">
                        <div class="form-group col-4">
                            <label>City:</label>
                            <input type="text" id="city" th:field="*{city}" name="city" class="form-control" required>
                        </div>

                        <div class="form-group col-4">
                            <label>State:</label>
                            <input type="text" id="state" th:field="*{state}" name="state" class="form-control" required>
                        </div>

                        <div class="form-group col-4">
                            <label>Country:</label>
                            <input type="text" id="country" th:field="*{country}" name="country" class="form-control" required>
                        </div>
                    </div>

                </form>
            </div>
<!--            <div class="col-md-8 text-left userProfile h3 font-weight-normal">-->
<!--                <form th:object="${user}">-->
<!--                <table class="table table-hover table-striped">-->
<!--                    <tr>-->
<!--                        <td th:text="*{firstName}"></td>-->
<!--                        <td th:text="*{lastName}"></td>-->
<!--                        <td th:text="*{jobTitle}"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td th:text="*{sex}"></td>-->
<!--                        <td th:text="*{phoneNo}"></td>-->
<!--                        <td th:text="*{username}"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td th:text="*{age}"> <span>years old</span></td>-->
<!--                        <td th:text="*{country}"></td>-->
<!--                        <td th:text="*{title}"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td th:text="*{address}"> </td>-->
<!--                        <td th:text="*{city}"></td>-->
<!--                        <td th:text="*{state}"></td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--                </form>-->
<!--            </div>-->

        </main>
    </div>
</div>
</body>
</html>