<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <title>Shipment Details</title>
</head>

<body layout:fragment="content">

<div class="col-md-8 text-left userProfile h3 font-weight-normal mb-5">
    <h4 class="h4">Shipment Details</h4>
    <table class="table table-hover table-striped">
        <tr>
            <td>ID</td>
            <td th:text="${shipment.getId()}"></td>
        </tr>
        <tr>
            <td>SHIPPED BY:</td>
            <td th:text="${product.getUser().getFirstName()}+' '+${product.getUser().getLastName()}"></td>
        </tr>
        <tr>
            <td>SHIPPING FROM:</td>
            <td th:text="${shipment.getShippingLocation()}"></td>
        </tr>
        <tr>
            <td>SHIPPING TO:</td>
            <td th:text="${shipment.getWarehouse().getCode()}"></td>
        </tr>
        <tr>
            <td>SHIPPING DATE</td>
            <td th:text="${#dates.format(shipment.getShippingDate(), 'dd-MMM-yyyy hh:mm a')}"> </td>
        </tr>
        <tr>
            <td>Expected D.Date</td>
            <td th:text="${#dates.format(shipment.getExpectedDeliveryDate(), 'dd-MM-yyyy hh:mm a')}"></td>
        </tr>
        <tr>
            <td>Actual D.Date</td>
            <td th:text="${shipment.getActualDeliveryDate()}"></td>
        </tr>
        <tr>
            <td>TRACKING NO.</td>
            <td th:text="${shipment.getTrackingNo()}"></td>
        </tr>
        <tr>
            <td>SHIPMENT STATUS</td>
            <td th:text="${shipment.getStatus()}"></td>
        </tr>
    </table>
</div>
</body>
</html>