<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <title>All Shipment</title>
</head>

<body layout:fragment="content">
    <h2>List of All Shipment</h2>
    <table class="table table-striped table-sm bg-dark text-white">
        <caption class="table-head">LIST OF All SHIPMENT</caption>
        <tr>
            <th>ID</th>
<!--            <th>SHIPPER</th>-->
            <th>SHIPMENT LOCATION</th>
            <th>STATUS</th>
            <th>UPDATE STATUS</th>
            <th>DETAILS</th>
        </tr>
        <tr th:each="c : *{shipments}">
            <td th:text="${c.getId()}"></td>

            <td th:text="${c.getShippingLocation()}"></td>
            <td th:text="${c.getStatus()}"></td>
            <td><a th:href="@{/shipments/updateStatus/{id}(id=${c.getId()})}"><button class="btn btn-warning" name="button">Update Status</button></a></td>
            <td><a th:href="@{/shipments/details/{id}(id=${c.getId()})}"><button class="btn btn-info" name="button">Details</button></a></td>
        </tr>
    </table>
</body>
</html>