<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <title>Change Password</title>
</head>

<body layout:fragment="content">

<div class="p-2 add-role createForm">
    <h4 class="h4">Change Password</h4>
    <form method="post" th:action="${'/users/updatePassword'}" th:object="${user}">
        <input type="hidden" class="form-control" th:field="*{id}" name="id">
        <div th:if="${param.error}">
            <span class="text-danger" th:text="${param.error}"></span>
        </div>
        <div class="form-group">
            <label>Old Password</label>
            <input type="password" class="form-control" name="oldPassword" required>
        </div>

        <div th:if="${param.passError}">
            <span class="text-danger" th:text="${param.passError}"></span>
        </div>
        <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" name="newPassword" required>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" required>
        </div>
        <div>
            <input type="submit" name="savePass" id="savePass" value="Update Password"/>
        </div>
    </form>
</div>
</body>
</html>