<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <title>Edit My Profile</title>
</head>

<body layout:fragment="content" class="margin-tp">

<div class="card p-2 add-staff mb-3 createForm">
    <div class="card-header">
        <h3 class="header-title">Edit My Profile</h3>
    </div>

    <div class="card-body register-form">

        <form th:action="@{/users/update}" method="post" th:object="${user}">
            <input type="hidden" name="id" th:field="*{id}">
            <div class="row col-12">
                <div class="form-group col-6">
                    <label>First Name:</label>
                    <input type="text" id="firstName" th:field="*{firstName}" name="firstName" class="form-control" required>
                </div>
                <div class="form-group col-6">
                    <label>Last Name:</label>
                    <input type="text" id="lastName" th:field="*{lastName}" name="lastName" class="form-control" required>
                </div>
            </div>

            <div class="row col-12">
                <div class="form-group col-4">
                    <label>Phone No:</label>
                    <input type="text" id="phoneNo" th:field="*{phoneNo}" name="phoneNo" class="form-control" required>
                </div>
                <div class="form-group col-8">
                    <label>Address:</label>
                    <input type="text" id="address" th:field="*{address}" name="address" class="form-control" required>
                </div>
            </div>

            <div class="row col-12">
                <div class="form-group col-4">
                    <label>City:</label>
                    <input type="text" id="city" th:field="*{city}" name="city" class="form-control" required>
                </div>

                <div class="form-group col-4">
                    <label>State:</label>
                    <input type="text" id="state" th:field="*{state}" name="state" class="form-control" required>
                </div>

                <div class="form-group col-4">
                    <label>Country:</label>
                    <input type="text" id="country" th:field="*{country}" name="country" class="form-control" required>
                </div>
            </div>

            <button class="btn btn-primary btn-block" type="submit">Update</button>
        </form>
    </div>
</div>
</body>
</html>