<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>

<body layout:fragment="content" class="margin-tp">

<div class="container">

    <div class="row mt-5 mb-5 justify-content-center">
            <div class="card p-2 add-staff mb-3 createForm">
                <div class="card-header">
                    <h3 class="header-title">Sign Up Form</h3>
                    <h6>Already Registered? <a th:href="@{/login}"> Login</a></h6>
                </div>

                <div class="card-body register-form">
                    <div th:if="${param.error}">
                        <span class="text-danger" th:text="${param.error}"></span>
                    </div>
<!--                    <div th:if="${param.succeed}" id="succeed" class="alert alert-info text-success"></div>-->
                    <form th:action="@{/users/register}" method="post" onsubmit="congrats()">
                            <div class="row col-12">
                                <div class="form-group col-6">
                                    <label>First Name:</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control" required>
                                </div>
                                <div class="form-group col-6">
                                    <label>Last Name:</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control" required>
                                </div>
                            </div>
                            <div th:if="${param.ageError}">
                                <span class="text-danger" th:text="${param.ageError}"></span>
                            </div>
                            <div class="row col-12">
                                <div class="form-group col-2">
                                    <label>Age:</label>
                                    <input type="number" id="age" name="age" class="form-control" required>
                                </div>

                                <div class="form-group col-3">
                                    <label>Gender</label>
                                    <select name="sex" id="sex" class="form-control">
                                        <option value="">Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Rather not say">Rather not say</option>
                                    </select>
                                </div>

                                <div class="form-group col-7">
                                    <label>Address:</label>
                                    <input type="text" id="address" name="address" class="form-control" required>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="form-group col-4">
                                    <label>City:</label>
                                    <input type="text" id="city" name="city" class="form-control" required>
                                </div>

                                <div class="form-group col-4">
                                    <label>State:</label>
                                    <input type="text" id="state" name="state" class="form-control" required>
                                </div>

                                <div class="form-group col-4">
                                    <label>Country:</label>
                                    <input type="text" id="country" name="country" class="form-control" required>
                                </div>
                            </div>

                            <div th:if="${param.emailError}">
                                <span class="text-danger" th:text="${param.emailError}"></span>
                            </div>
                            <div class="row col-12">
                                <div class="form-group col-6">
                                    <label>Phone No:</label>
                                    <input type="text" id="phoneNo" name="phoneNo" class="form-control" required>
                                </div>

                                <div class="form-group col-6">
                                    <label>Email:</label>
                                    <input type="email" id="userName" name="userName" class="form-control" required>
                                </div>
                            </div>

                            <div th:if="${param.passError}">
                                <span class="text-danger" th:text="${param.passError}"></span>
                            </div>
                            <div class="row col-12">
                                <div class="form-group col-6">
                                    <label>Create Password:</label>
                                    <input type="password" name="password" id="password" class="form-control" required>
                                </div>

                                <div class="form-group col-6">
                                    <label>Confirm Password:</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                                </div>
                            </div>


                            <lable>I accept all the <a data-toggle="modal" data-target="#myModal" href="#">
                                Term and Conditions</a>
                            </lable>
                            <label>
                                <input type="checkbox" value="yes" required> Yes
                            </label>

                            <button class="btn btn-primary btn-block" type="submit">Register</button>
                        </form>

                </div>
            </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-info">Term and Conditions</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>On this page, you will find a standard version of the GOOD GOLD LOGISTICS Website Terms and Conditions. Please note that different terms and conditions may apply in certain countries.
                    The Terms and Conditions of use of the GOOD GOLD LOGISTICS Website are as follows:</p>

                <p>Copyright <br>
                    The copyright in this publication is owned by GOOD GOLD LOGISTICS International GmbH.</p>

                <p>Authorization to Reproduce<br>
                    Any person may reproduce any portion of the material in these web pages subject to the following conditions:<p>

                <ul>
                    <li>The material may be used for information and non-commercial purposes only.</li>
                    <li>It may not be modified in any way.</li>
                    <li>No unauthorized copy is made of any GOOD GOLD LOGISTICS trademark.</li>
                    <li>Any copy of any portion of the material must include the following copyright notice:</li>
                </ul>
                <p class="text-info text-center">Copyright © GOOD GOLD LOGISTICS International.<br> All Rights Reserved.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>