
mark {
    background-color: yellow;
    color: blue;
    opacity: 0.7;
    letter-spacing: 5px;
    line-height: 1.7;
}

.page-btn {
    border: 2px solid powderblue;
}

.add-role{
    max-width: 30%;
}

.margin-tp{
    margin-top: 25px;
}

.add-staff{
    max-width: 70%;
}

.createForm{
    border: 2px solid #0b2e13;
    background-color: #cbe0f6;
}

.userProfile {
    border: 3px solid #44973b;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #cbdbea;
    box-shadow: 5px 4px 5px #999;
}

