<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>
    <title>User Profile Page</title>
</head>

<body layout:fragment="content">
    <div class="p-2 add-role createForm">
        <h4>Create Category</h4>
        <form method="post" th:action="${'/categories/add'}">
            <div class="form-group">
                <label>Category Name</label>
                <input type="text" class="form-control mw-100" name="name" required>
            </div>
            <div >
                <button class="btn-outline-success" name="button">Add Category</button>
            </div>
        </form>
    </div>
    <!--                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->

    <h2>List of All Category</h2>
    <table class="table table-striped table-sm bg-dark text-white">
        <caption class="table-head">LIST OF All CATEGORY</caption>
        <tr>
            <th>ID</th>
            <th>CATEGORY NAME</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        <tr th:each="c : *{categories}">
            <td th:text="${c.getId()}"></td>
            <td th:text="${c.getName()}"></td>
            <td><a th:href="@{/categories/edit/{id}(id=${c.getId()})}"><button class="btn-warning" name="button">Edit</button></a></td>
            <td><a th:href="@{/categories/delete/{id}(id=${c.getId()})}">
                <button class="btn-danger" onclick="return confirm('Are you sure you want to delete?');" name="button">Delete</button></a></td>
        </tr>
    </table>

</body>
</html>