<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>About Us</title>
</head>

<body layout:fragment="content" class="margin-tp">

<div class="container">

    <div class="row mt-5 mb-5">

        <div class="col-md-6">

            <div class="alert alert-info">
                <h2><span style="font-weight: 300;">Our History</span></h2>
                <p>GOOD GOLD Logistics Ltd (formerly known as GOOD GOLD Delivery Services) was established in 1999
                    to provide warehousing services to GBO which at the time was the merchandising division of Boffems Nig Ltd.</p>
                <p>GOOD GOLD operated as a department within Boffems Nig Ltd and provided services to only Boffems Nig Ltd companies, an offering
                    which over time was extended to third party companies. Currently Boffems owns 40% of GOOD GOLD LOGISTICS while
                    GOOD GOLD Logistics owns 60% through a strategic partnership concluded in April 2010.</p>
            </div>

        </div>
        <div class="col-md-6">

            <div class="alert alert-info">
                <h2><span style="font-weight: 300;">Who We Are</span></h2>
                <p>At GOOD GOLD Logistics, we nurture clients&#8217; businesses by learning and understanding their
                    needs, hence partnering with them to achieve their goals.</p>
                <p>We do not believe in the &#8220;one cap fits all&#8221; approach.</p>
                <p>We link manufacturers with numerous customers in over 400 cities and villages connected by
                    our network of over 45 distribution centres and over 200 vehicles across Nigeria.</p>
                <p>Our team of supply chain professionals leverage on our unparalleled distribution network
                    with you from start to finish, designing and implementing your unique supply chain model.</p>
            </div>
        </div>

    </div>
    <div class="row mt-5 mb-5">

        <div class="col-md-6">

            <div class="alert alert-info">
                <h2><span style="font-weight: 300;">Our Vision</span></h2>
                <p>To be the leading provider of value driven integrated supply chain solutions</p>
            </div>

        </div>
        <div class="col-md-6">

            <div class="alert alert-info">
                <h2><span style="font-weight: 300;">Our Value Proposition</span></h2>
                <p>To create value for our clients by offering one-stop logistics solutions guaranteeing
                    seamless and excellent delivery services.</p>

            </div>
        </div>

    </div>

</div>
</body>
</html>