<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>

<body layout:fragment="content" class="margin-tp">

<main>

<!-- Header with Carousel -->
<header>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('images/home.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-white">GOOD GOLD Logistics</h3>
                    <p class="text-white">Our road haulage products offer services that<br/>ensure the safe monitoring and integrity of your<br/>products until delivery.</p>
                </div>
            </div>

            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('images/img2.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-white">WAREHOUSING</h3>
                    <p class="text-white">With over 120,000 square meters of warehousing space<br/>spread across 50 distribution centres in Nigeria,
                        we<br/>provide a unique variety of warehousing offerings.<br/> </p>
                </div>
            </div>

            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('images/img3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-white">DISTRIBUTION</h3>
                    <p class="text-white">Our robust knowledge of the local terain puts us in a <br/>vantage position to offer you unmatched
                        secondary<br/>distribution services.</p>
                </div>
            </div>

            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('images/img4.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-white">TELECOM LOGISTICS</h3>
                    <p class="text-white">We have consistently achieved 100% SLA compliance  for <br/>all major telecoms clients since
                        the commencement of <br/>telecoms distribution in Nigeria. </p>
                </div>
            </div>

            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('images/img2.png')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-white">PHARMA LOGISTICS</h3>
                    <p class="text-white">We provide full fledged specialised pharmaceutical<br/>logistics services. </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container">

    <div class="row mt-5 mb-5">


        <div class="col-md-7">

            <div class="alert alert-info">
                <h2><span style="font-weight: 300;">WELCOME TO GOOD GOLD LOGISTICS!</span></h2>
                <p>Our team of experienced supply chain professionals leverage on our unparalleled distribution
                    network with you from start to finish, designing and implementing your unique supply chain
                    model.</p>
                <p>Over 500 dedicated employees, working in about 50 locations around the country, deliver
                    operational excellence — to provide viable answers to the most challenging supply
                    chain questions. <a th:href="@{/about}"> Read more...</a></p>
                <p><strong>USMAN TIJANI<br />
                </strong><small>Managing Director<br />
                </small></p>
            </div>

        </div>
        <div class="col-md-5">
            <div class="destination-img">
                <img th:src="@{/images/welcome.jpg}" >
            </div>
        </div>

    </div>

</div>


<div class="container-fluid bg-light p-5">

    <div class="row mt-3 mb-3">

        <div class="col-12">
            <h1 class="text-center">Top Selling Products</h1>
        </div>

    </div>

    <div class="row col-12 mb-5 destination-img text-center">

        <div class="col-3 card">
            <h4 class="card-header"><em>Paint</em></h4>
            <img th:src="@{/images/paint.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 19.99</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> asege@gmail.com</h6>
            </div>
        </div>

        <div class="col-3 card">
            <h4 class="card-header"><em>Red Gown</em></h4>
            <img th:src="@{/images/red-gown.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 30.00</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> kaybee@gmail.com</h6>
            </div>
        </div>

        <div class="col-3 card">
            <h4 class="card-header"><em>Chair</em></h4>
            <img th:src="@{/images/sova.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 129.99</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> ademi@gmail.com</h6>
            </div>
        </div>

        <div class="col-3 card">
            <h4 class="card-header"><em>Flower</em></h4>
            <img th:src="@{/images/flower.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 9.99</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> ademi@gmail.com</h6>
            </div>
        </div>

    </div>

    <div class="row col-12 mb-5 destination-img text-center">

        <div class="col-3 card">
            <h4 class="card-header"><em>Watch</em></h4>
            <img th:src="@{/images/watch.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 19.99</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> asege@gmail.com</h6>
            </div>
        </div>

        <div class="col-3 card">
            <h4 class="card-header"><em>Genger</em></h4>
            <img th:src="@{/images/sova2.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 30.00</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> kaybee@gmail.com</h6>
            </div>
        </div>

        <div class="col-3 card">
            <h4 class="card-header"><em>Game</em></h4>
            <img th:src="@{/images/game.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 129.99</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> ademi@gmail.com</h6>
            </div>
        </div>

        <div class="col-3 card">
            <h4 class="card-header"><em>Ewe Egg</em></h4>
            <img th:src="@{/images/11.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 9.99</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> ademi@gmail.com</h6>
            </div>
        </div>

    </div>

    <div class="row col-12 mb-5 destination-img text-center">

        <div class="col-3 card">
            <h4 class="card-header"><em>Watch</em></h4>
            <img th:src="@{/images/watch.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 19.99</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> asege@gmail.com</h6>
            </div>
        </div>

        <div class="col-3 card">
            <h4 class="card-header"><em>Red Gown</em></h4>
            <img th:src="@{/images/red-gown.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 30.00</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> kaybee@gmail.com</h6>
            </div>
        </div>

        <div class="col-3 card">
            <h4 class="card-header"><em>Chair</em></h4>
            <img th:src="@{/images/sova.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 129.99</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> ademi@gmail.com</h6>
            </div>
        </div>

        <div class="col-3 card">
            <h4 class="card-header"><em>Flower</em></h4>
            <img th:src="@{/images/flower.png}" class="img-fluid p-4 card-body img-thumbnail">
            <div class="card-footer text-info">
                <h6><i class="fa fa-dollar-sign"></i> 9.99</h6>
                <h6><i class="fa fa-phone"></i> +234 901 0986 345</h6>
                <h6><i class="fa fa-envelope-open-text"></i> ademi@gmail.com</h6>
            </div>
        </div>

    </div>

</div>
</main>

<script>
    $('.carousel').carousel({
        interval: 5000
    })
</script>

</body>


</html>