<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Usman Gee">

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">GOOD GOLD Logistics</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <link rel="stylesheet" th:href="@{/fa/css/all.css}">

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">

    <div class="container">

        <a class="navbar-brand" th:href="@{/}">
            <img style="width: 25%" th:src="@{/images/logo1.png}">
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class="fa fa-home"></i>Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}"><i class="fa fa-info"></i>About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}"><i class="fa fa-envelope"></i>Contact</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="#">Testimonies</a>
                        <a class="dropdown-item" href="#">Our Staffs</a>
                        <a class="dropdown-item" href="#">Our Warehouses</a>
                    </div>
                </li>

                <div sec:authorize="isAuthenticated()">
                    <li class="icons dropdown">
                        <div class="text-white user-img c-pointer position-relative"   data-toggle="dropdown">
    <!--                        <span class="activity active"></span>-->
<!--                            <img th:src="@{/images/1.png}" height="40" width="40" alt="">-->
                            <i class="fa fa-user-circle fa-2x"></i>
                            <span sec:authentication="name">Username</span>
                        </div>
                        <div class="drop-down dropdown-profile dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li>
                                        <a th:href="@{/admins/dashboard/{username}(username=${#request.remoteUser})}">
                                            <i class="fa fa-user"></i>My Page
                                        </a>
                                    </li>
                                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out-alt"></i>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </div>

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in-alt"></i>login</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/users/create}"><i class="fa fa-plus-circle"></i>SignUp</a>
                </li>
            </ul>
        </div>

    </div>

</nav>

<!-- Content Section -->
<section layout:fragment="content">
    <p>This is filled by the content template.</p>
</section>

<!-- Footer -->
<footer class="py-1 bg-success fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; GOOD GOLD Logistics 2020
            <i class="ml-5 mr-2 fab fa-facebook-f"></i>
            <i class="mr-2 fab fa-twitter"></i>
            <i class="mr-2 fab fa-instagram"></i>
            <i class="mr-2 fab fa-github"></i>
        </p>
    </div>
</footer>


<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>

<th:block layout:fragment="optional" />

</body>
</html>