<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Usman Gee">

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">GOOD GOLD Logistics</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <link rel="stylesheet" th:href="@{/fa/css/all.css}">

</head>

<body>

<!-- Navigation -->
<!--<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">-->

<!--    <div class="container">-->

<!--        <a class="navbar-brand" th:href="@{/}">-->
<!--            <img style="width: 25%" th:src="@{/images/logo1.png}">-->
<!--        </a>-->

<!--        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarResponsive">-->

<!--            <ul class="navbar-nav ml-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/}"><i class="fa fa-home"></i>Home</a>-->
<!--                </li>-->

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/about}"><i class="fa fa-info"></i>About</a>-->
<!--                </li>-->

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/contact}"><i class="fa fa-envelope"></i>Contact</a>-->
<!--                </li>-->

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Blog-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">-->
<!--                        <a class="dropdown-item" href="#">Testimonies</a>-->
<!--                        <a class="dropdown-item" href="#">Our Staffs</a>-->
<!--                        <a class="dropdown-item" href="#">Our Warehouses</a>-->
<!--                    </div>-->
<!--                </li>-->

<!--                <div sec:authorize="isAuthenticated()">-->
<!--                    <li class="icons dropdown">-->
<!--                        <div class="text-white user-img c-pointer position-relative"   data-toggle="dropdown">-->
<!--                            &lt;!&ndash;                        <span class="activity active"></span>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            <img th:src="@{/images/1.png}" height="40" width="40" alt="">&ndash;&gt;-->
<!--                            <i class="fa fa-user-circle fa-2x"></i>-->
<!--                            <span sec:authentication="name">Username</span>-->
<!--                        </div>-->
<!--                        <div class="drop-down dropdown-profile dropdown-menu">-->
<!--                            <div class="dropdown-content-body">-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <a th:href="@{/myPage/page/{username}(username=${#request.remoteUser})}">-->
<!--                                            <i class="fa fa-user"></i>My Page-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out-alt"></i>Logout</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </div>-->

<!--                <li sec:authorize="isAnonymous()" class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in-alt"></i>login</a>-->
<!--                </li>-->
<!--                <li sec:authorize="isAnonymous()" class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/users/create}"><i class="fa fa-plus-circle"></i>SignUp</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

<!--    </div>-->

<!--</nav>-->

<nav class="navbar navbar-dark sticky-top bg-success flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"><img style="width: 25%" th:src="@{/images/logo1.png}"></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<!--<div class="margin-tp">-->
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/myPage/page/{username}(username=${#request.remoteUser})}">
                            <i class="fa fa-user"></i>My Dashboard
                        </a>
                    </li>
                    <div sec:authorize="hasRole('STAFF')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sellers/list}">
                                <i class="fa fa-clipboard-list"></i>All Sellers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/staffs/list}">
                                <i class="fa fa-clipboard-list"></i>All Staff
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/staffs/create}">
                                <i class="fa fa-plus-circle"></i>Add New Staff
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/roles/list}">
                                <i class="fa fa-clipboard-list"></i>All Roles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categories/list}">
                                <i class="fa fa-clipboard-list"></i>All Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products/list}">
                                <i class="fa fa-clipboard-list"></i>All Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/warehouses/list}">
                                <i class="fa fa-clipboard-list"></i>All Warehouses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shipments/list}">
                                <i class="fa fa-ship"></i>All Shipments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/profile/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-edit"></i>Edit My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/changePass/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-key"></i>Change Password
                            </a>
                        </li>
                    </div>

                    <div sec:authorize="hasRole('SELLER')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products/myList/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-clipboard-list"></i>All My Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products/create/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-plus-circle"></i>Add New Product
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/profile/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-edit"></i>Edit My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/changePass/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-key"></i>Change Password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/myPaymentStatus/details/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-question-circle"></i>My Status
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
                        <div><h3>Welcome, <span sec:authentication="name">Username</span></h3></div>
                        <div><span sec:authentication="principal.authorities">[SELLER, STAFF]</span></div>
                    </div>
                </div>
            </div>

            <!-- Content Section -->
            <section layout:fragment="content">
                <p>This is filled by the content template.</p>
            </section>

        </main>
    </div>
</div>
<!--</div>-->


<!-- Footer -->
<footer class="py-1 bg-success fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; GOOD GOLD Logistics 2020

            <a th:href="@{https://www.facebook.com}" target="_blank"><i class="ml-5 mr-2 fab fa-facebook-f"></i></a>
            <i class="mr-2 fab fa-twitter"></i>
            <i class="mr-2 fab fa-instagram"></i>
            <i class="mr-2 fab fa-github"></i>
        </p>
    </div>
</footer>


<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/sweetalert2.all.min.js}"></script>
<script th:src="@{/js/myJsFile.js}"></script>

<th:block layout:fragment="optional" />

</body>
</html>