<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Usman Gee">

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">GOOD GOLD Logistics</title>

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/_icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<!--    <link rel="stylesheet" th:href="@{/css/modern-business.css}">-->
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <link rel="stylesheet" th:href="@{/fa/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>

<body>
<nav class="navbar fixed-top navbar-dark sticky-top bg-success flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" th:href="@{/}"><img style="width: 35%" th:src="@{/images/logo1.png}"></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<!--    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/logout}"><button class="btn btn-outline-light">Sign out</button></a>
        </li>
    </ul>
</nav>

<!--<div class="margin-tp">-->
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky  pt-3">
                <ul class="nav flex-column mt-2">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/myPage/page/{username}(username=${#request.remoteUser})}">
                            <i class="fa fa-user"></i>My Dashboard
                        </a>
                    </li>
                    <div sec:authorize="hasRole('STAFF')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sellers/list}">
                                <i class="fa fa-clipboard-list"></i>All Sellers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/staffs/list}">
                                <i class="fa fa-clipboard-list"></i>All Staff
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/staffs/create}">
                                <i class="fa fa-plus-circle"></i>Add New Staff
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/roles/list}">
                                <i class="fa fa-clipboard-list"></i>All Roles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categories/list}">
                                <i class="fa fa-clipboard-list"></i>All Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products/list}">
                                <i class="fa fa-clipboard-list"></i>All Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/warehouses/list}">
                                <i class="fa fa-clipboard-list"></i>All Warehouses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shipments/list}">
                                <i class="fa fa-ship"></i>All Shipments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/profile/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-edit"></i>Edit My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/changePass/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-key"></i>Change Password
                            </a>
                        </li>
                    </div>

                    <div sec:authorize="hasRole('SELLER')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products/myList/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-clipboard-list"></i>All My Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/warehouses/wh_list}">
                                <i class="fa fa-clipboard-list"></i>All Warehouses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products/create/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-plus-circle"></i>Add New Product
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/profile/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-edit"></i>Edit My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/changePass/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-key"></i>Change Password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/myPaymentStatus/details/{username}(username=${#request.remoteUser})}">
                                <i class="fa fa-question-circle"></i>My Status
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#hiw-modal" href="#">
                                <i class="fa fa-info"></i>How It Works
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
                        <div><h3>Welcome, <span sec:authentication="name">Username</span></h3></div>
                        <div><span sec:authentication="principal.authorities">[SELLER, STAFF]</span></div>
                    </div>
                </div>
            </div>

            <!-- Content Section -->
            <section layout:fragment="content">
                <p>This is filled by the content template.</p>
            </section>
            <!-- Modals -->
            <div id="hiw-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title text-info">Instructions & How It Works</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>When you registered on our website for free, you have to subscribe for one of our
                                <a data-toggle="modal" data-target="#plans-modal" href="#">plans</a> before you can be able to send your products to any of our warehouses.</p>
                            <p>When you have an active subscription with us, you can send the details of your products by
                                clicking the "Add New Product" in your profile and wait for approval which will be done by
                                our always online team before you go ahead and ship the products to the warehouse that
                                you choose, then you can as well send shipment details to us through the link in front of
                                the product in your products list.
                            <p>When the products get to our warehouse you will be notified by mail, then you can sell you product
                                by any means and issue receipt to the buyer and also send the reference to us. After that the
                                buyer can come and pick the goods from our warehouse, we can also do the delivery for you but it
                                will attract some charges.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div id="plans-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title text-info">Subscription Plans</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body container mb-3 text-center">
<!--                            <div class="row card-deck mb-3 text-center">-->
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Basic</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">$699 <small class="text-muted">/ Year</small></h1>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>5,000 Square Metres Space</li>
                                            <li>Access to 5 warehouses</li>
                                            <li>Email support</li>
                                            <li>Help center access</li>
                                        </ul>
                                        <button type="button" class="btn btn-lg btn-block btn-primary">Subscribe</button>
                                    </div>
                                </div>
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Pro</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">$1,000 <small class="text-muted">/ Year</small></h1>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>10,000 Square Metres Space</li>
                                            <li>Access to 10 warehouses</li>
                                            <li>Priority email support</li>
                                            <li>Help center access</li>
                                        </ul>
                                        <button type="button" class="btn btn-lg btn-block btn-primary">Subscribe</button>
                                    </div>
                                </div>
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Premium</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">$1,499 <small class="text-muted">/ Year</small></h1>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>30,000 Square Metres Space</li>
                                            <li>Access to all warehouses</li>
                                            <li>Phone and email support</li>
                                            <li>Help center access</li>
                                        </ul>
                                        <button type="button" class="btn btn-lg btn-block btn-primary">Subscribe</button>
                                    </div>
                                </div>
<!--                            </div>-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </main>
    </div>
</div>
<!--</div>-->


<!-- Footer -->
<footer class="py-1 bg-success fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; GOOD GOLD Logistics 2020

            <a th:href="@{https://www.facebook.com}" target="_blank"><i class="ml-5 mr-2 fab fa-facebook-f"></i></a>
            <a th:href="@{https://www.twitter.com}" target="_blank"><i class="mr-2 fab fa-twitter"></i></a>
            <a th:href="@{https://www.instagram.com}" target="_blank"><i class="mr-2 fab fa-instagram"></i></a>
<!--            <a th:href="@{https://www.github.com}" target="_blank"><i class="mr-2 fab fa-github"></i></a>-->
        </p>
    </div>
</footer>


<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/sweetalert2.all.min.js}"></script>
<script th:src="@{/js/myJsFile.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<!-- Content Section -->
<section layout:fragment="scripts">
</section>

</body>
</html>